<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:name=".utils.MorseCodeGenerator"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity android:name=".activities.trainer.TextTransmissionTrainerActivity"></activity>
        <activity android:name=".activities.trainer.TextReceptionTrainerActivity" />
        <activity android:name=".activities.trainer.CharacterTransmissionTrainerActivity" />
        <activity android:name=".activities.trainer.CharacterReceptionTrainerActivity" />
        <activity android:name=".activities.trainer.MainTrainerActivity" />
        <activity android:name=".activities.LessonNavigationActivity" />
        <activity android:name=".activities.lessons.Lesson12TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson12ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson12LearningActivity" />
        <activity android:name=".activities.lessons.Lesson12Activity" />
        <activity android:name=".activities.lessons.Lesson11TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson11ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson11LearningActivity" />
        <activity android:name=".activities.lessons.Lesson11Activity" />
        <activity android:name=".activities.lessons.Lesson10TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson10ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson10LearningActivity" />
        <activity android:name=".activities.lessons.Lesson10Activity" />
        <activity android:name=".activities.lessons.Lesson9TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson9ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson9LearningActivity" />
        <activity android:name=".activities.lessons.Lesson9Activity" />
        <activity android:name=".activities.lessons.Lesson8TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson8ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson8LearningActivity" />
        <activity android:name=".activities.lessons.Lesson8Activity" />
        <activity android:name=".activities.lessons.Lesson7TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson7ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson7LearningActivity" />
        <activity android:name=".activities.lessons.Lesson7Activity" />
        <activity android:name=".activities.lessons.Lesson6TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson6ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson6LearningActivity" />
        <activity android:name=".activities.lessons.Lesson6Activity" />
        <activity android:name=".activities.lessons.Lesson5TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson5ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson5LearningActivity" />
        <activity android:name=".activities.lessons.Lesson5Activity" />
        <activity android:name=".activities.lessons.Lesson4TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson4ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson4LearningActivity" />
        <activity android:name=".activities.lessons.Lesson4Activity" />
        <activity android:name=".activities.lessons.Lesson3TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson3ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson3LearningActivity" />
        <activity android:name=".activities.lessons.Lesson3Activity" />
        <activity android:name=".activities.DictionaryActivity" />
        <activity android:name=".activities.lessons.Lesson2TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson2ReceptionActivity" />
        <activity android:name=".activities.lessons.Lesson2LearningActivity" />
        <activity android:name=".activities.lessons.Lesson2Activity" />
        <activity android:name=".activities.lessons.Lesson1Activity" />
        <activity android:name=".activities.lessons.Lesson1TransmissionActivity" />
        <activity android:name=".activities.lessons.Lesson1ReceptionActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.lessons.Lesson1LearningActivity" />
    </application>

</manifest>